<ng-container *ngIf="taskInputForm">
  <form
    class="task-input-form"
    [formGroup]="taskInputForm"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task Description</mat-label>
        <textarea
          matInput
          placeholder="Enter Task Description"
          formControlName="description"
          autocomplete="on"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="sub-tasks-input">
      <div class="header">Sub Tasks</div>

      <div *ngIf="isLoading">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
      
      <ng-container formArrayName="subTasks" *ngIf="!isLoading">
        <ng-container
          *ngFor="let subTaskForm of subTasks.controls; let i = index"
        >
          <div class="subtask-form-row" [formGroupName]="i">
            <button
              type="button"
              mat-icon-button
              color="accent"
              (click)="deleteTask(i)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>

            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Subtask Description</mat-label>
              <textarea
                matInput
                placeholder="Enter subtask Description"
                formControlName="description"
                autocomplete="on"
              ></textarea>
            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>

      <button
        type="button"
        mat-mini-fab
        (click)="addSubTask()"
        class="add-course-btn"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="f.invalid"
      >
        Add Task
      </button>
    </div>
  </form>
</ng-container>
