.task-input-form {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 00px;
  border: 0px solid red;
  div {
    border: 0px solid pink;
    width: 100%;

    mat-form-field {
      width: 100%;
    }

    .header {
      font-size: 1.1em;
      font-weight: 500;
    }

    mat-spinner {
      margin: 0 auto;
    }
    .subtask-form-row {
      border: 0px solid red;
      display: flex;
      align-items: center;
    }
  }

  .sub-tasks-input {
    margin-bottom: 10px;
    border: 0px solid red;
  }
}
