
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>
      <ng-container *ngIf="!heading;else noGoalType">
        <span >Description</span>
      </ng-container>
      <ng-template #noGoalType>
        <span >{{ heading }}</span>
      </ng-template>
      
    </th>
    <td mat-cell *matCellDef="let element">
      <div [style.margin-top]="element.tasks ? '10px' : '0px'">
        {{ element.description }}
      </div>
      <ng-container *ngIf="element.tasks">
        <div *ngFor="let task of element.tasks" class="task-row">
          <div class="task-col">
            <mat-icon>golf_course</mat-icon>
            <div class="task-description add-padding">
              <div>
                {{ task.description }}
              </div>
              <ng-container *ngIf="task.subTasks">
                <div *ngFor="let subTask of task.subTasks" class="task-row">
                  <div class="task-col">
                    <mat-icon>label_important</mat-icon>
                    <div class="task-description">
                      <div>
                        {{ subTask.description }}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
