<mat-tab-group mat-align-tabs="start">
  <mat-tab *ngFor="let week of weeks" label="Week {{ week.number }}">
    <div class="week-container">
      <h2>Week {{ week.number }} ({{ week.date | date }})</h2>

      <app-twelve-week-year-week-list
        [days]="week.days"
      ></app-twelve-week-year-week-list>

      <!-- <div class="sub-tasks-container" *ngIf="data$ | async as goals">
        <app-twelve-week-year-goals-treelist [goals]="goals" [week]="week"></app-twelve-week-year-goals-treelist>
      </div> -->

      <div class="sub-tasks-container" *ngIf="data$ | async as goals">
        <h3>Goals</h3>
        <div *ngFor="let goal of goals; index as i" class="goals-container">
          <h4>{{ i + 1 }}. {{ goal.description }} ({{ goal.tasks.length }})</h4>

          <div *ngFor="let task of goal.tasks" class="task-container">
            <div class="task-description">
              {{ task.description }}
            </div>

            <app-twelve-week-year-subtasks-list
              [week]="week"
              [task]="task"
              [taskResults]="taskResults"
            ></app-twelve-week-year-subtasks-list>

            <div class="comments-container">
              <app-twelve-week-year-task-comments-list
                [weeks]="weeks"
                [week]="week"
                [task]="task"
              ></app-twelve-week-year-task-comments-list>

              <app-twelve-week-year-task-comments-input></app-twelve-week-year-task-comments-input>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-tab>
  <mat-tab label="Final Thougts">
    <h2>Ideas for the next 12 Week Year Plan</h2>
  </mat-tab>
</mat-tab-group>
