<mat-tab-group mat-align-tabs="start">
  <mat-tab *ngFor="let week of weeks" label="Week {{ week.number }}">
    <div class="week-container">
      <h2>Week {{ week.number }} ({{ week.date | date }})</h2>

      <app-week-list [days]="week.days"></app-week-list>

      <div class="sub-tasks-container" *ngIf="data$ | async as goals">
        <h3>Goals</h3>
        <div *ngFor="let goal of goals; index as i" class="goals-container">
          <h4>{{ i + 1 }}. {{ goal.description }} ({{ goal.tasks.length }})</h4>

          <div *ngFor="let task of goal.tasks" class="task-container">
            <div class="task-description">
              {{ task.description }} ({{ task.id }})
            </div>
            <div>
              Current Progress: {{ getGoalDailyProgressCount(week.number, goal.id, task.id) }} of {{ week.days.length }}
            </div>

            <app-subtasks-list
              [week]="week"
              [task]="task"
              [taskResults]="taskResults"
            ></app-subtasks-list>

            <div class="comments-container">
              <!-- <pre>
{{ task | json}}
</pre> -->
              <app-task-comments-list
                [task]="task"
                [week]="week"
              ></app-task-comments-list>

              <app-task-comments-input
                [task]="task"
                [week]="week"
              ></app-task-comments-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Final Thougts">
    <h2>Ideas for the next 12 Week Year Plan</h2>
  </mat-tab>
</mat-tab-group>
