<h2>12 Week Year Plan</h2>
<p>
  The secret to living your life to its potential, is to value the important
  stuff above your own comfort.
</p>
<app-goals-group
  [title]="threeToFiveYear.heading"
  [goalType]="threeToFiveYear.type"
></app-goals-group>

<app-goals-group
  [title]="thisYear.heading"
  [goalType]="thisYear.type"
></app-goals-group>

<app-goals-group
  [title]="twelveWeekYear.heading"
  [goalType]="twelveWeekYear.type"
  [openAccordion]="true"
></app-goals-group>

<div class="tweleve-week-container">
  <div *ngFor="let week of weeks" class="week-container">
    <h2>Week {{ week.number }} ({{ week.date | date }})</h2>
    <table
      style="padding: 20px; border: 1px sold #1d1d1d"
      mat-table
      [dataSource]="week.days"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Comments</th>
        <td mat-cell *matCellDef="let element">{{ element.comments }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
