<h2>12 Week Year Plan</h2>
<p>
  The secret to living your life to its potential, is to value the important
  stuff above your own comfort.
</p>
<app-goals-group
  [title]="threeToFiveYear.heading"
  [goalType]="threeToFiveYear.type"
></app-goals-group>

<app-goals-group
  [title]="thisYear.heading"
  [goalType]="thisYear.type"
></app-goals-group>

<app-goals-group
  [title]="twelveWeekYear.heading"
  [goalType]="twelveWeekYear.type"
  [openAccordion]="true"
></app-goals-group>

<app-twelve-week-year></app-twelve-week-year>
