<div class="dashboard-container">
  <h1>12 Week Year Plan</h1>
  <h2>
    The secret to living your life to its potential, is to value the important
    stuff above your own comfort.
  </h2>
  <app-goals-group
    [title]="threeToFiveYear.heading"
    [goalType]="threeToFiveYear.type"
  ></app-goals-group>

  <app-goals-group
    [title]="thisYear.heading"
    [goalType]="thisYear.type"
  ></app-goals-group>

  <app-goals-group
    [title]="twelveWeekYear.heading"
    [goalType]="twelveWeekYear.type"
    [openAccordion]="false"
  ></app-goals-group>

  <!-- <app-twelve-week-year></app-twelve-week-year> -->
</div>
