ngx-spinner {
  p {
    font-size: 40px;
    color: #fff;
  }
}
.app-container {
  height: 100%;
  border: 0px solid red;
  display: flex;
  flex-direction: column;

  .header-container {
    flex: 1;
    border: 0px solid yellow;
  }
  .outlet-container {
    flex: 1;
    flex-grow: 1;
    border: 0px solid green;
    flex-basis: 100%;
    background-color: #fff;
  }
}
