<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/">
    <span>Twelve Week Year</span>
  </a>
  
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let link of links">
    <mat-icon>{{ link.icon }}</mat-icon>
    <a [routerLink]="link.route">
      <span>{{ link.text}}</span>
    </a>
    
  </button>
</mat-menu>
<div>
  <router-outlet></router-outlet>
</div>
