<div>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date: "EEEE (dd/MM)" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef>Comments</th>
      <td mat-cell *matCellDef="let element">
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <textarea matInput placeholder="Comment for the day">{{
            element.comments
          }}</textarea>
        </mat-form-field> -->
        <div *ngIf="!element.showEditor" style="text-align: left;">
          <div *ngIf="element.comments != null && element.comments.length > 0" 
              style="border: 3px dashed #1d1d1d;padding: 5px;" [innerHTML]="element.comments"></div>
          <button (click)="element.showEditor = !element.showEditor">Add/Edit Comments</button>
        </div>
        <div *ngIf="element.showEditor">
          <quill-editor
            [styles]="{ height: '150px' }"
            [(ngModel)]="element.comments"
            (onBlur)="blur($event, element)"
          ></quill-editor>
          <button (click)="element.showEditor = !element.showEditor">Save Comments</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
