table.mat-table {
  width: 100%;

  th.comments-col {
    width: 90%;
  }

  td {
    .comment-container {
      .comments {
        border: 0px dashed #1d1d1d;
        padding-top: 0px;
        padding-bottom: 0px;
      }
      button {
        margin-top: -5px;
        margin-bottom: 5px;
      }
    }

    .editor-container {
      button {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}