// @import "~@angular/material/theming";

.goals-input-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0px;
  border: 0px solid red;
  div {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }
  div.goal-input {
    flex: 1;
    border: 0px solid red;
  }
  div.tasks-container {
    border: 0px solid green;
    // margin-left: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    .empty {
      background-color: #3f51b5;
      width: 20px;
      margin-right: 5px;
    }
  }
}
