.goals-input-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0px;
  div {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }
  div.goal-input {
    flex: 1;
  }
}
