<form
  class="goals-input-form"
  [formGroup]="goalInputForm"
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
>
  <div style="flex: 1">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Goal Description</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter Goal Description"
        formControlName="description"
        autocomplete="on"
      />
    </mat-form-field>
  </div>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid"
    >
      Add Goal
    </button>
  </div>
</form>
