<div>
  <form
  class="task-input-form"
  [formGroup]="taskInputForm"
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
>
  <div style="flex: 1">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Task Description</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter Task Description"
        formControlName="description"
        autocomplete="on"
      />
    </mat-form-field>
  </div>

  <div>
    <div>Sub Tasks</div>
    <ng-container formArrayName="subTasks" *ngIf="true">
      <ng-container *ngFor="let subTaskForm of subTasks.controls; let i = index">
        <div class="subtask-form-row" [formGroupName]="i">
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Subtask Description</mat-label>
            <input
              matInput
              type="text"
              placeholder="Enter Subtask Description"
              formControlName="description"
              autocomplete="on"
            />
          </mat-form-field>
          <mat-icon class="delete-btn" (click)="deleteTask(i)">
            delete_forever</mat-icon>
        </div>
      </ng-container>
    </ng-container>
    <button type="button" mat-mini-fab (click)="addSubTask()">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </div>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid"
    >
      Add Task
    </button>

  </div>
</form>

</div>