.task-input-form{
  padding: 0px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
  border: 0px solid red;
  div {
    width: 100%;

    mat-form-field {
      width: 100%;
    }

    .subtask-form-row {
      border: 1px solid red;
    }
  }
}