<div class="accordion-container">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>{{ title }}</mat-panel-title>
        <mat-panel-description>
          <span *ngIf="data$ | async as data">
            <span *ngIf="data.length === 0">No Goals</span>
            <span *ngIf="data.length === 1">1 Goals</span>
            <span *ngIf="data.length > 1">{{ data.length }} Goals</span>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-goals-input [goalType]="goalType"></app-goals-input>
      <app-goals-grid [goalType]="goalType"></app-goals-grid>
    </mat-expansion-panel>
  </mat-accordion>
  
</div>