<div class="task-container" *ngIf="tasksForEdit$ | async as tasksForEdit">
  <ng-container *ngIf="tasksForEdit.length === 0; else tasksTemplate"></ng-container>
  <ng-template #tasksTemplate>
    <div class="header">Tasks ({{ tasksForEdit.length }})</div>
    <div class="task-list">
      <div class="col header">#</div>
      <div class="col header">Description</div>
      <div class="col header">&nbsp;</div>
      <ng-container *ngFor="let task of tasksForEdit; let i = index">
        <div class="col" style="width: 50px;">
          {{ i + 1 }}
        </div>
        <div class="col task-display">
          <div *ngIf="!task.isEditing; else isEditingTemplate" class="task-display-description">
            {{ task.description }} => {{ task.isEditing }}
          </div>
          <ng-template #isEditingTemplate>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Subtask Description</mat-label>
              <textarea matInput placeholder="Enter subtask Description" [value]="task.description" autocomplete="on"></textarea>
            </mat-form-field>
          </ng-template>
          <div class="sub-task-container" *ngFor="let subtask of task.subTasks">
            <mat-icon>label_important</mat-icon>
            <div class="sub-task-description">
              {{ subtask.description }}
            </div>
            <div class="sub-task-buttons">
              <button type="button" mat-icon-button color="accent">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" mat-icon-button color="accent">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col task-commands">
          <ng-container *ngIf="!task.isEditing; else isEditingCommand">
            <div class="buttons">
              <button type="button" mat-icon-button color="primary" (click)="editTaskDescription(i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
          <ng-template #isEditingCommand>
            <div>
              <button type="button" mat-icon-button color="primary" (click)="saveTaskDescription(i)">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
