<button *ngIf="isRootNode" mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter) ="mouseEnter() ">
  <mat-icon>menu</mat-icon>
</button>
 
<ng-container *ngIf="!isRootNode && getCount(trigger) > 1; else sinlgeItem">
  <button mat-menu-item [matMenuTriggerFor]="menu" #menuTriggerChild="matMenuTrigger" (mouseenter) ="mouseEnterChild()" (menuOpened)="getData(trigger)">
    <mat-icon>{{ node.icon }}</mat-icon>    {{ trigger }}
  </button>
  <!-- <a *ngIf="node != null" mat-menu-item [routerLink]="[node.route]">
    <mat-icon>{{ node.icon }}</mat-icon>
    {{ node.text}}
  </a> -->
</ng-container>
<ng-template #sinlgeItem>
  <a *ngIf="node != null" mat-menu-item [routerLink]="[node.route]">
    <mat-icon>{{ node.icon }}</mat-icon>
    {{ node.text}}
  </a>
</ng-template>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-spinner mode="indeterminate" diameter="24"></mat-spinner>
  </button>
  <ng-container *ngFor="let node of data; let i = index">
    <button mat-menu-item>
      <app-menu
        [trigger]="node.text"
        [node]="node"
        *ngIf="isExpandable(node.text); else menuItem"
      ></app-menu>
    </button>
    <ng-template #menuItem>
      <a mat-menu-item [routerLink]="[node.route]">
        <mat-icon>{{ node.icon }}</mat-icon>
        {{ node.text}}
      </a>
    </ng-template>
  </ng-container>
</mat-menu>

